@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:focus{
    outline: none;
}

body{
    background: #DBDBDB;
    font-family: 'Open sans';
}

/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 450px;
    margin: 50px auto;
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: inherit;
    margin-top:-60px
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;
}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

form.form_contact{
    width: 100%;
    padding: 45px 60px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"] {
    width: 200px;
    background: #213977;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Open sans';
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}


#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;
	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;
	float: right;
}

h2{
    text-align: center;
}

.adjust{
    overflow-x: auto;
}

.hide{
    display: none
}

#loading {
    background-color: #213977;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
    opacity: .5;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

.object {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-animation: animate 0.8s infinite;
    animation: animate 0.8s infinite;
}

#object_one {
    top: 19px;
    left: 19px;
}

#object_two {
    top: 0px;
    left: 65px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#object_three {
    top: 19px;
    left: 111px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_four {
    top: 65px;
    left: 130px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#object_five {
    top: 111px;
    left: 111px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#object_six {
    top: 130px;
    left: 65px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#object_seven {
    top: 111px;
    left: 19px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#object_eight {
    top: 65px;
    left: 0px;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes animate {
    25% {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    75% {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes animate {
    50% {
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
.navbar {
    background-color: #213977 !important;
    height: 100px;
    position: inherit !important;
}



/* ===== Select ===== */

/* ===== Horizontal Rule ===== */
.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 350px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

    .sel::before {
        position: absolute;
        content: '\f063';
        font-family: 'FontAwesome';
        font-size: 2em;
        color: #FFF;
        right: 20px;
        top: calc(50% - 0.5em);
    }

    .sel.active::before {
        transform: rotateX(-180deg);
    }

.sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
}

    .sel__box__options::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        font-size: 0.5em;
        margin-left: 5px;
        display: none;
    }

    .sel__box__options.selected::after {
        display: inline;
    }

    .sel__box__options:hover {
        background-color: #ebedef;
    }

/* ----- Select Box Black Panther ----- */
.sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
select{
    border-radius:20px!important;
    height: 25px;
    width:205px;
    border: none;   
    background-color:whitesmoke;
}
input[type=text], select {
    text-transform: uppercase;
}


@media (min-width: 1280px) {
    .logo {
        text-align: right;
        margin-left: 67%;
        position: absolute;
        z-index: 100;
        /*margin-top: -30px;*/
    }
    #btnCloseSesion{
        margin-top: -40px;
    }
}

@media (min-width: 1281px) {
    .logo {
        text-align: right;
        margin-left: 61%;
        position: absolute;
        z-index: 100;
    }
}

.white{
    color:white;
    text-transform:uppercase
}

.logout{
    border: none;
    width:90px;
    height:30px;
    background-color:transparent;
    color:white
}

.dt-button {
    border-radius: 20px;
    width: 130px;
    height: 30px;
    background-color: #213977;
    color: white
}

.radios {
    width: 50px!important
}